.App {
  width: 100%;
  height: 100vh;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Home {
  margin-top: 150px;
  background-color: bisque;
  width: 100%;
  height: 100%;
}

.Navigation {
  position: fixed;
  width: 98%;
  z-index: 1;
  margin: 1em 0em;
  height: 100px;
  border-radius: .5em;
  background-color: var(--orange);
}

.social__container {
  margin: auto;
}

.insta__icon {
  background-image: url('./Assets/icons8-instagram.svg');
  background-size: cover;
}

.linkedin__icon {
  background-image: url('./Assets/icons8-linkedin-60.png');
  background-size: cover;
}

.splash__page {
  height: 100%;
  width: 100%;
  display: grid;
  justify-items: center;
  align-content: center;
  grid-template-columns: repeat(5, 20%);
  font-size: 1.5em;
}

.Switch__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 2;
  font-size: .65em;
}

.flower__container {
  width: 3em;
}

.NoahLogo {
  width: 4em;
}

.splash__page--buttons {
  font-size: .65em;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 1em;
  color: var(--darkGreen);
}

.button__bg {
  color: var(--darkGreen);
  background-color: white;
}

ul {
  display: flex;
}

.links {
  flex-direction: column;
}

li {
  list-style: none;
  position: relative;
  font-size: 1em;
  font-weight: 400;
}

.button__list {
}

.code__list {
  width: 125px;
  padding: 5px 0px;
}

a {
  cursor: pointer;
  position: relative;
  font-size: 1em;
  margin: 15px;
  border: none;
  background: none;
  padding: 5px 22.5px;
  border-radius: 5px;
  color: white;
  font-weight: 400;
  z-index: 1;
  user-select: none;
}

.path__button {
  text-decoration: none;
  padding: 0px;
  color: var(--darkGreen);
}

.SlideOutMenu {
  border-radius: 5px;
  background-color: lightgrey;
  position: absolute;
  top: 30px;
  right: 15px;
  width: 95px;
}

.logo__page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

.logo__page--content {
  margin: 12em 12em 0em 12em;
}

.logo__design {
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 5em;
  grid-template-columns: 250px 250px 250px;
  grid-template-rows: 250px 250px 250px;
}

.logo__square {
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

img {
  width: 100%;
  padding: 4em;
}

.hyperglide__square {
  background-color: pink;
}