.App {
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: var(--kelly);
}

.Navigation {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.footer {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.customBttn {
  border-radius: 5px;
}

.front {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: var(--orange);
  width: calc(100% + 4px);
  height: 100%;
  border: solid var(--lightOrange) 2px;
  bottom: 3px;
}

.customBttn:hover {
  border: solid var(--lightOrange) 2px;
}

.behind {
  position: relative;
  width: 5.75em;
  height: 2.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--darkOrange);
  border: solid var(--darkestOrange) 2px;
}

.AppDark {
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: var(--darkGreen);
}

.Nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.story {
  margin: 25px 15px;
  width: 75%;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: left;
  background-color: var(--lime);
  box-shadow: 0px 0px 16px rgba(18, 91, 17, 0.25);
  position: relative;
  border-radius: 25px;
}

.storyCarousel {
  display: flex;
}

.splash__page--me {
  height: 300px;
  display: flex;
  align-items: center;
}

.fullStory__button {
  padding: 5px 10px;
  border: none;
  background-color: var(--cream);
  border-radius: 5px;
  color: var(--orange);
  width: 150px;
}

.pfpTitle {
  font-size: 1.25em;
  color: var(--darkGreen);
  font-weight: 400;
  width: 300px;
}

.quickBio {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.left {
  text-align: right;
}

.pfpText {
  font-size: 1.25em;
  font-weight: 400;
  width: 300px;
  color: var(--cream);
}

.pfp {
  border-radius: 50px;
  /* box-shadow: 0px 0px 12px var(--darkGreen); */
  margin: 25px;
  width: 200px;
  height: 200px;
  background-image: url("./Assets/profilepic.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.Navbar {
  font-size: 1em;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  margin: 20px;
  width: 100%;
  border-radius: 15px;
  height: 100px;
  background-color: var(--kelly);
}

.contactTitle {
  color: var(--oranges);
}

.ContactDropdown {
  position: absolute;
  left: 120px;
  bottom: -100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--cream);
  color: var(--orange);
  padding: 25px;
  border-radius: 15px;
}

.contactButton {
  position: relative;
}

.contact__label {
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: left;
}

.contact__inputField {
  border: solid var(--darkGreen) 3px;
  border-radius: 5px;
  padding: 5px;
}

.longField {
  height: 75px;
}

.dropdownMenuDesign {
  right: 0;
  top: 40px;
  border-radius: 15px;
  background-color: white;
  position: absolute;
  box-shadow: 3px 3px 9px rgba(25, 25, 25, .25);
}

.dropdownMenuDesign__item {
  margin: 15px;
  color: var(--darkGreen);
}

.navbar__buttons {
  display: flex;
  align-items: center;
}

.Navbar > div {
  display: flex;
}

.splash__page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
  font-size: 1em;
  overflow: hidden;
}

.socials__container {
 display: flex;
 justify-content: space-between;
 width: 200px;
 font-size: 16px;
}

.socials__icon {
  fill: var(--darkGreen);
}

.socials__icon--dark {
  fill: var(--cream);
}


.Switch__container {
  position: absolute;
  top: 25px;
  right: 25px;
  display: flex;
  justify-content: flex-end;
  z-index: 2;
  font-size: 1em;
}

.flower__container {
  width: 16em;
}

.NoahLogo {
  width: 12em;
  margin: 0px 0px 25px 0px;
}

.st10 {
  fill: var(--cream)
}

.st15 {
  fill: var(--orange)
}

.NoahLogo__smaller {
  width: 6em;
}

.splash__page--buttons {
  font-size: 1em;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.dropdown__button {
  position: relative;
  margin: 20px;
}

h1 {
  color: var(--darkGreen);
}


ul {
  display: flex;
}

li {
  list-style: none;
  position: relative;
  font-size: 1em;
  font-weight: 400;
  padding: 5px 5px;
}

.horizontal__menu {
  padding-left: 15px; 
  padding-right: 15px; 
  color: var(--cream);
}

.horizontal__menu--button {
  color: var(--cream);
  text-decoration: none;
}

.button__list {
  margin: 15px auto;
}

.code__list {
  width: 125px;
  padding: 5px 0px;
  color: var(--cream);
}

.general__button {
  margin: 15px 0px;
  background: none;
  padding: 5px 10px;
  border: none;
  color: white;
  font-size: 1em;
  font-weight: 400;
  border-radius: 5px;
  position: relative;
}

.NavButton__imitation {
  text-decoration: none;
  cursor: pointer;
  position: relative;
  font-size: .9em;
  margin: 15px;
  border: none;
  background: none;
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--cream);
  font-weight: 400;
  z-index: 1;
  user-select: none;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  font-size: .9em;
  border: none;
  background: none;
  border-radius: 5px;
  color: var(--cream);
  font-weight: 400;
  z-index: 1;
  user-select: none;
}

.button__bg {
  color: var(--darkGreen);
  background-color: var(--lime);
}

.path__button {
  font-weight: 400;
  text-decoration: none;
  padding: 0px;
  color: var(--darkGreen);
}

.SlideOutMenu {
  border-radius: 5px;
  border: solid var(--lightOrange) 2px;
  background-color: var(--orange);
  position: absolute;
  top: 0px;
  right: 120px;
  box-shadow: 2px 2px 12px rgba(25, 25, 25, .25);
  height: 28px;
}

.LogoDesign {
  background-color: rgb(246, 239, 217);
}

.LogoDesignDark {
  background-color: var(--darkGreen);
}

.logo__page {
  margin-top: 25px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo__designs {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(5, 300px);
}

.logoPatches {
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  /* border-radius: 25px; */
  transition: 100ms ease-in-out;
}

.BC {
  background-image: url('./Assets/Logos/BCLogo.svg');
  grid-row: span 2;
  background-color: white;
}

.BC:hover {
  background-size: 55%;
}

.bosciaRose {
  background-image: url("./Assets/Logos/bosciarose-04.svg");
  background-color: #7F3F98;
}

.bosciaRose:hover {
  background-size: 55%;
}

.tlh {
  background-image: url("./Assets/Logos/TLH.svg");
  grid-column: span 2;
  background-color: #F23838;
}

.tlh:hover {
  background-size: 55%;
}

.darkMatter {
  background-image: url("./Assets/Logos/darkmatter-03.svg");
  background-color: #C6B187;
}

.darkMatter:hover {
  background-size: 55%;
}

.springside {
  background-image: url("./Assets/Logos/springside-02.svg");
  background-color: #5B2133;
}

.springside:hover {
  background-size: 55%;
}

.doro {
  background-image: url("./Assets/Logos/Doro-02.svg");
  grid-column: span 2;
  background-color: #87AEDC;
}

.doro:hover {
  background-size: 55%;
}

.dlt8 {
  background-image: url("./Assets/Logos/DLT8-01.svg");
  background-color: rgb(192, 189, 202);
}

.dlt8:hover {
  background-size: 55%;
}


.dcl2 {
  background-image: url("./Assets/Logos/newdcl2-07.svg");
  background-color: #FF9100;
}

.dcl2:hover {
  background-size: 55%;
}

.beamen {
  background-image: url("./Assets/Logos/BeamenLogo-21.svg");
  background-color: #705448;
}

.beamen:hover {
  background-size: 55%;
}

.absurdUni {
  background-image: url("./Assets/Logos/AbsurdUni.svg");
  background-color: lightcoral;
}

.absurdUni:hover {
  background-size: 55%;
}

.imglink {
  width: 100%;
  height: 100%;
  font-size: 25em;
  opacity: 0;
  pointer-events: all;
}




.logo__square {
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
}

.GraphicThumbnails {
  display: flex;
  justify-content: center;
}

.span2 {
  grid-row: span 2;
}

.Carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid white 5px;
}

.modalBG {
  top: 0;
  right: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: black;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bosciaModal {
  position: relative;
  z-index: 2;
  width: 1000px;
  height: 500px;
  background-color: green;
  opacity: 1;
}

.leftArrow {
  fill: white;
}

.rightArrow {
  fill: white;
  stroke-width: 2px;
  stroke: var(--orange)
}
.arrows:hover .leftArrow {
  transform: translateX(15px);
  transition: 200ms;
}

.arrows:hover .rightArrow {
  transform: translateX(15px);
  transition: 750ms;
}

.arrows {
  width: 100px;
  border: solid white 3px;
}

.GraphicPage {
  display: flex;
  flex-direction: column;
  background-color: var(--cream);
}

.graphics {
  display: grid;
  grid-template-columns: repeat(2, 650px);
  grid-template-rows: repeat(3, 450px);
  justify-content: center;
  width: 100%;
}

.graphic {
  margin: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.hero__icon {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.howto {
  background-color: #EA658E;
  grid-column: span 2;
  transition: 200ms;
}

.howtolink {
  grid-column: span 2;
}

.howto:hover {
  background-image: url("./Assets/Graphics/howtoPattern-09.svg");
  background-size: cover;
}

.gpu {
  background-image: url("./Assets/Graphics/graphicThumbnail-01.svg");
  background-size: 25%;
}

.howto:hover .gpu {
  transition: 100ms;
  background-size: 30%;
}

.nachobox {
  background-size: 40%;
  background-color: #CEF982;
}

.lime {
  background-image: url("./Assets/Graphics/graphicThumbnail-04.svg");
  background-size: 45%;
}

.nachobox:hover {
  background-image: url("./Assets/Graphics/nachos-08.svg");
  background-size: cover;
}

.nachobox:hover .lime {
  background-size: 50%;
  transition: 100ms;
}


.hyperglide {
  background-size: 30%;
  background-color: rgb(146, 216, 243);
}

.squiggle {
  background-image: url("./Assets/Graphics/graphicThumbnail-02.svg");
  background-size: 30%;
}

.fit {
  background-color: #fbcc8d;
  grid-column: span 2;
}

.gear {
  background-image: url("./Assets/Graphics/graphicThumbnail-03.svg");
  background-size: 80%;
}

.NachoBox__page {
  background-color: var(--cream);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleCard {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.titleCard__one {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.projectTitle {
  font-size: 3em;
  font-weight: 600;
  text-align: right;
  width: 500px;
  margin-right: 10px;
  position: relative;
  bottom: 15px;
}

.projectText {
  text-align: left;
  width: 500px;
  margin-left: 10px;
}

.subTitle {
  font-size: .35em;
  color: var(--kelly);
  position: relative;
  bottom: 8px;
}

.images {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title__image {
  background-image: url("./Assets/Graphics/graphicThumbnail-04.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  width: 70%;
  background-color: #CEF982;
  height: 500px;
}

.caption {
  font-size: 2.75em;
  font-weight: 800;
  text-align: center;
  grid-column: span 2;
  width: 70%;
  flex-wrap: wrap;
  margin: 100px auto;
  border-radius: 15px;
  color: black;
}

.process__images {
  display: flex;
  width: 70%;
  justify-content: center;
}

.process__image {
  width: 50%;
  height: 500px;
  background-position: center;
  background-size: cover;
}
.process__image--left {
  background-image: url("./Assets/NachoBoxPics/IMG_0095.jpg");
}

.process__image--right {
  background-image: url("./Assets/NachoBoxPics/Letters.jpg");
}

.sketch {
  width: 25%;
  height: 300px;
  background-size: cover;
  background-position: center;
  margin: 100px 0px;
}

.sketch--one {
  background-image: url("./Assets/NachoBoxPics/IMG_0116.jpg");
}
.sketch--two {
  background-image: url("./Assets/NachoBoxPics/IMG_0118.jpg");
}

.sketch--three {
  background-image: url("./Assets/NachoBoxPics/IMG_0114\ \(1\).jpg");
}

.sketch--four {
  background-image: url("./Assets/NachoBoxPics/c006.jpg");
}

.hero__image {
  width: 100%;
  /* background-color: var(--nachoblue); */
}

.hero__image--fonts {
  width: 70%;
}

.process__images--package {
  width: 100%;
}

.process__image--package {
  width: 50%;
  height: 800px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.package__left {
  background-image: url("./Assets/NachoBoxPics/packageleft-10-10.svg");
  background-color: #F78263;
}

.package__right {
  background-image: url("./Assets/NachoBoxPics/packageright-11-11.svg");
  background-color: #CEF982;
}
