* {
  padding: 0px;
  margin: 0px;
  font-family: neusa-next-std, sans-serif;
  font-weight: 500;
  font-style: normal;
}

:root {
  --black: #373e3e;
  --orange: #f95b1c;
  --darkGreen: #363f33;
  --lime: #B2D235;
  --forest: #2A6649;
  --cream: #F9F2BD;
}
