.NoahAnimation__container {
  position: absolute;
  width: 100%;
  /* transform: translateX(-50%); */
  pointer-events: none;
}

.letter {
  fill: var(--orange);
  stroke: var(--lightOrange);
  stroke-width: 10px;
  animation: slide 1.5s ease-in-out forwards;
  transition: skew;
}

.letterBG {
  animation: shift 1.5s forwards;
}


/* @keyframes shift {
  80% {
    transform: translate(44.5%, 40%) scale(.25);
  }
  90% {
    transform: translate(44.5%, 40%) scale(.25);
  }
  100% {
    transform: translate(45.5%, 40%) scale(.25) skew(-15deg);
  }
}; */

@keyframes slide {
  80% {
    transform: translate(44.5%, 40%) scale(.25);
    stroke: var(--orange);
  }
  90% {
    transform: translate(44.5%, 40%) scale(.25);
    stroke: var(--orange);
  }
  100% {
    transform: translate(45.5%, 40%) scale(.25) skew(-15deg);
    stroke: var(--orange);
  }
};

