.titleCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.titleCard__one {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.projectTitle {
  font-size: 3em;
  font-weight: 600;
  text-align: right;
  width: 30%;
  margin-right: 10px;
  position: relative;
  bottom: 15px;
}

.projectText {
  text-align: left;
  width: 30%;
  margin-left: 10px;
}

.subTitle {
  font-size: .35em;
  color: var(--kelly);
  position: relative;
  bottom: 8px;
}

.roleCard {
  display: flex;
  justify-content: center;
}

.role {
  font-size: 1.5em;
  width: 30%;
  text-align: right;
  margin-right: 10px;
}

.role__text {
  width: 30%;
  text-align: left;
  margin-left: 10px;
}

@media (max-width: 400px) {
  .titleCard__one {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: solid black 5px;
  }

  .projectTitle {
    width: 70%;
    margin: 0px;
    text-align: center;
  }

  .projectText {
    width: 70%;
    text-align: center;
    margin: 0px;
  }
}