.storyCarousel {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.NoahHeadShot {
  position: relative;
  top: 100px;
  flex-shrink: 0;
  border-radius: 100px;
  width: 200px;
  height: 200px;
  background-image: url("./Assets/profilepic.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.story {
  padding: 25px;
  margin: 25px 15px;
  max-width: 30%;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: left;
  position: relative;
  border-radius: 25px;
}

.story__title {
  color: var(--creamy);
  font-size: 3em;
}

.story__text {
  color: var(--creamy);
  font-size: 1.25em;
  text-align: center;
}

.skills {
  width: 35px;
  margin: 0px 10px;
}

.skills__container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}

.splash__page--me {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35%;
}

@media (max-width: 400px) {
  .storyCarousel {
    position: absolute;
    top: 30px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: var(--orange);
    border: solid var(--lightOrange) 3px;
    border-radius: 25px;
  }
  .story {
    max-width: 90%;
    padding: 0px;
    margin: 0px;
    display: flex;
    /* flex-direction: row; */
    color: white;
    text-align: left;
    border-radius: 25px;
  }
  .story__title {
    color: var(--creamy);
    font-size: 1em;
  }
  
  .story__text {
    color: var(--creamy);
    font-size: .85em;
    text-align: center;
    max-width: 90%;
    margin-bottom: 15px;
  }
  .splash__page--me {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .NoahHeadShot {
    width: 100px;
    height: 100px;
    top: 0;
    order: 1;
  }
  .skills {
    width: 15px;
    margin: 0px 10px;
  }
  .skills__container {
    display: flex;
    justify-content: center;
    margin: 10px 0px;
  }
}